.todo {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  border: 1px solid black;
  min-height: 50px;
  font-size: 1.2rem;
  padding-left: 20px;
}

.todo label {
  width: 75%;
  height: auto;
  word-break: break-all;
  padding: 10px 0px;
}

.todo input {
  transform: scale(150%);
}

.done {
  background-color: #cecece;
}

.delete {
  background-color: #da4343;
  color: white;
  border: none;
  margin-left: auto;
  width: 20%;
  height: 50px;
}
